{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block body %}
    <h2 class="gros-titre">Informations générale</h2>
    <br />
    <ul class="bigfont centerblock">
        <li class="">nom du projet: <u>[nomDuProjet]</u></li>
        <li class="">url : <a href="#">[http://url_vers_le_projet_git]</a></li>
        <li class=""><span id="resultNbBranches"></span> branches</li>
        <li class=""><span id="resultNbContributeur"></span> contributeurs</li>
        <li class=""><span id="resultNbCommits"></span> commits</li>
        <li class="">Les plus grand contributeurs
            <ul>
                <li class="">personne1 - adresse1</li>
                <li class="">personne2 - adresse1</li>
            </ul>
        </li>
    </ul>

    <br />

    {#{ parent() }#}
{% endblock %}
