{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block body %}
    <h2 class="gros-titre">Informations générale</h2>

    <ul>
        <li>nom du projet: [nomDuProjet]</li>
        <li>url : <a href="#">[http://url_vers_le_projet_git]</a></li>
        <li>[nbContributeur] contributeurs</li>
        <li>[nbCommit] commits</li>
        <li>[nbBranche] branches</li>
        <li>Les plus grand contributeurs
            <ul>
                <li>personne1 - adresse1</li>
                <li>personne2 - adresse1</li>
            </ul>
        </li>
    </ul>


    <br />
    {#{ parent() }#}
{% endblock %}
