{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block urLogo %}
    {% if(gitType == "gitlab") %}
        <img src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png" width="25" height="25"/>
    {% elseif(gitType == "github") %}
        <img src="https://www.macupdate.com/images/icons256/39062.png" width="25" height="25"/>
    {% elseif(gitType == "bitbucket") %}
        <img src="https://technologyconversations.files.wordpress.com/2015/10/download.png" width="25" height="25"/>
    {% else %}
        <img src="https://git-for-windows.github.io/img/git_logo.png" width="25" height="25"/>
    {% endif %}
{% endblock %}

{% block arbreSelected %}<span class="sub_icon glyphicon glyphicon-tree-deciduous" style="color:white;"></span>{% endblock %}
{% block urlSelected %}<span class="sub_icon glyphicon glyphicon-plus-sign"></span>{% endblock %}


{% block body %}
        <h2 class="gros-titre">Arbre des commits</h2>
        Master<br />
        |<br />
        |<br />
        |<br />
        |<br />
        |\<br />
        |.\<br />
        |..\<br />
        |...\<br />
        |....|<br />
        |....|<br />
        |....|<br />
        |....|<br />
        |.../<br />
        |../<br />
        |./<br />
        |/<br />
        |<br />
    {#{ parent() }#}
{% endblock %}
