<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--
    INDEX
    !-->
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>fr.lirmm.servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saisieTexteTweet</servlet-name>
        <servlet-class>fr.lirmm.servlets.SaisieTexteTweet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>affichageAPITweet</servlet-name>
        <servlet-class>fr.lirmm.servlets.AffichageAPITweet</servlet-class>
        <multipart-config>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>fr.lirmm.servlets.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixSentimentAnalysis</servlet-name>
        <servlet-class>fr.lirmm.servlets.ChoixSentimentAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage</servlet-name>
        <servlet-class>fr.lirmm.servlets.Manage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainData</servlet-name>
        <servlet-class>fr.lirmm.servlets.TrainData</servlet-class>
        <multipart-config>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>TrainDataAdvenced</servlet-name>
        <servlet-class>fr.lirmm.servlets.TrainDataAdvenced</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainRun</servlet-name>
        <servlet-class>fr.lirmm.servlets.TrainRun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteModel</servlet-name>
        <servlet-class>fr.lirmm.servlets.DeleteModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserModel</servlet-name>
        <servlet-class>fr.lirmm.servlets.DeleteUserModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>fr.lirmm.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AffichageModeleExistant</servlet-name>
        <servlet-class>fr.lirmm.servlets.AffichageModeleExistant</servlet-class>
        <multipart-config>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saisieTexteTweet</servlet-name>
        <url-pattern>/saisieTexteTweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>affichageAPITweet</servlet-name>
        <url-pattern>/affichageAPITweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixSentimentAnalysis</servlet-name>
        <url-pattern>/choixSentimentAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffichageModeleExistant</servlet-name>
        <url-pattern>/AffichageModeleExistant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainData</servlet-name>
        <url-pattern>/train-data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainDataAdvenced</servlet-name>
        <url-pattern>/train-data-advenced</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainRun</servlet-name>
        <url-pattern>/train-run</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteModel</servlet-name>
        <url-pattern>/delete-model</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>WEB-INF/index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/workflow_db</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet-mapping>
        <servlet-name>DeleteUserModel</servlet-name>
        <url-pattern>/deleteUserModel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
