table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}


/* - DEBUT - Style de base - */
.article-base{
    border: 1px solid #616161;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #111;*/
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

.article-base-sans-padding{
    border: 1px solid #616161;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #111;*/
    width: 90%;
}


.p-white-color{
    color: white;
}
.tabulation{
    padding-left: 30px;
}
.double-tabulation{
    padding-left: 60px;
    padding-left: 60px;
}
.tabulation-margin{
    margin-left: 30px;
}
.double-tabulation-margin{
    margin-left: 60px;
    margin-left: 60px;
}


.h-scroll {
    max-height: 30vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
}
.v-scroll {
    /*max-width: 100vh; / * %-height of the viewport */
    /*position: fixed;*/
    overflow-x: scroll;
}
.h-scroll-cadre {
    background-color: red;
}
/* - FIN - Style de base - */

/* - DEBUT CSS POUR LE SIDE BAR - */
/*.row{
    margin-left:0px;
    margin-right:0px;
}*/

#wrapper {
    padding-left: 50px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -250px;
    /*margin-left: 100px;*/
    left: 100px;
    width: 200px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    box-shadow: 1px 0px 10px #000;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 250px;
}

#page-content-wrapper {
  width: 100%;
}

/*#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}*/
/*.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}*/

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
    padding-right: 20px;
    padding-top:18px;
}
.sub_icon
{
    float:right;
    padding-right: 20px;
    padding-top:12px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 50px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 100px;
    }
    #wrapper.active {
        padding-left: 200px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 200px;
        transition: all .4s ease 0s;
    }
}
/* - FIN CSS POUR LE SIDE BAR - */


/* - DEBUT CSS POUR LE SITE - */
.main-title{
    width: 100%;
    height: 50px;
    background-color: #222;
    padding-left: 10px;
    padding-top: 5px;
    box-shadow: 1px 0px 10px #000;
    color: #C3C3C3;
}
.gros-titre{
    text-align: center;
    color: white;
}
.petit-titre{
    color: white;
}

.main-title a{
    color: white;
}

.main-title a:hover{
    color: white;
}

.footstyle{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
}
header{
    margin-top: -20px;
}

.bodystyle{
    height: 100%;
    background-color: #141515;
}
.sectionstyle{
    height: 100%;
}
html, body{
    margin: 0px;
    padding: 0px;
    /*height: 100%;*/
    /*height:80%;*/
    width: 100%;
}

/* - FIN CSS POUR LE SITE - */

/* - DEBUT CSS POUR LA PAGE HOME - */
.bigfont{
    font-size: 20px;
    color: #C3C3C3;
}

.bigfont li{
    list-style-type: none;
}

.centerblock{
    text-align: center;
}

/* - FIN CSS POUR LA PAGE HOME - */


/* - DEBUT BarChart - */
.article-bar-chart{
    border: 1px solid #616161;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #111;*/
    width: 90%;
}
.article-padding{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.article-background{
    background-color: #222;
}
/* - FIN BarChart - */

/* - DEBUT InputRecherche - */
.input-recherche{
    width: 90%;
}
.centerblock-top-bottom{
    vertical-align:middle;
    margin-top: 15%;
    margin-bottom: 15%;
}
/* - FIN InputRecherche - */



/* - DEBUT Formulaire URL - */
.form-color label{
    color: white;
}
/* - FIN Formulaire URL - */









/*chargement*/
.loading-git-clone{
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
    right: 0;
    left: 50px;
    /*position: absolute;*/
    margin-top: -30%;
    background-color: rgba(10,10,10,0.6);
    /*width: 90%;*/
    height: 250px;
    text-align: center;
    border: 1px solid cyan;
    box-shadow: 0px 0px 25px cyan;
}
