/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 févr. 2016, 16:05:54
    Author     : Niels
*/

@charset "UTF-8";

/*Premet de créer une zone blanche pour bien voir le contenue*/ 
.zone
{
    border-radius: 5px;
    background-color: #fefefe;
    width: 70%;
    padding: 3%;
    margin: 5%;
    margin-left: 15%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow
{
   box-shadow: 10px 5px 5px grey;
}

/*permet de changer la couleur de font au survol de la souris*/
.blue-hover:hover 
{
    background-color: #9faeb7;
    opacity: 0.8;
}

#offCanvas
{
  height: 100%;
  background-color: #e6e6e6;
  padding-left: 1%;
}

#offCanvas li
{
    margin: 5%;
    font-weight: bold;
}
.row {

  max-width: 1200px; }



.footer {
position:fixed;

bottom:0;
left:0;
height:25px;
width: 100%;
/*background-color: #e6e6e6;b2bec5*/
background-color: #f2f2f2;
text-align: center;
font-size: small;
}

.margin
{
    margin:5px;
}