{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block body %}
        <h2 class="gros-titre">Contribution de [nomContributeur] pour la branche [nomDeLaBranche]</h2>

        <p>ICI notre diagramme Cammembert et Courbe pour cette branche</p>
    <br />
    {#{ parent() }#}
{% endblock %}
