{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block body %}
    <section>
        <h2>Contribution de [nomContributeur] pour la branche [nomDeLaBranche]</h2>

        <p>ICI notre diagramme Cammembert et Courbe pour cette branche</p>
    </section>
    <br />
    {#{ parent() }#}
{% endblock %}
